:root {
  height: 100vh;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-Black.woff2) format(woff2);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*NAVBAR*/

.companyLogo {
  display: block;
  width: 40%;
  height: auto;
} 

#openBtn {
  display: none;
}

.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-left: 1vw;
}

ul {
  display: flex;
  align-items: center;
  gap: 5vw;
  margin-right: 2vw;
  padding: 1vw;
}

li {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #02a295;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.search {
  display: flex;
}

/* BODY*/
.startQuiz {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  letter-spacing: 3px;
  background-color: #02a295;
  color: azure;
  box-shadow: 10px 10px 30px rgb(8, 8, 8), -10px -10px 30px rgb(60, 60, 60);
}

button:active {
  letter-spacing: 3px;
  background-color: #02a295;
  color: azure;
  box-shadow: 10px 10px 30px rgb(8, 8, 8), -10px -10px 30px rgb(60, 60, 60);
  transform: translateY(10px);
  transition: 100ms;
}
 
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  background-color: #151515;
  background-image: url("Ressources/third-screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: azure;
}
main{
  justify-content: center;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4,
p {
  font-size: 2rem;
}
.Questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

h4.question {
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  box-shadow: 5px 5px 30px rgb(8, 8, 8), -5px -5px 30px rgb(41, 41, 41);
  border-radius: 7%;
}

.question {
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  color: azure;
  font-size: larger;
}

.answers {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  padding: 0rem 0rem;
  margin: 5%;
  width: 80vw;
  height: auto;
}

.answers > button {
  background-color: #151515;
  width: 80%;
  height: 80%;
  border-radius: 3%;
  box-shadow: 10px 10px 30px rgb(8, 8, 8), -10px -10px 30px rgb(60, 60, 60);
}

.cardAnswerA,
.cardAnswerB {
  position: relative;
  padding-bottom: 26%;
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.buttonStart,
.button-result,
.try-again,
.submitButton {
  margin-top: 10rem;
  padding: 27px 55px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 21px;
  transition: all 0.5s ease;
}

.try-again,
.submitButton {
  margin-top: 4rem;
}
button:hover {
  letter-spacing: 3px;
  background-color: #02a295;
  color: azure;
  box-shadow: 10px 10px 30px rgb(8, 8, 8), -10px -10px 30px rgb(60, 60, 60);
}

button:active {
  letter-spacing: 3px;
  background-color: #02a295;
  color: azure;
  box-shadow: 10px 10px 30px rgb(8, 8, 8), -10px -10px 30px rgb(60, 60, 60);
  transform: translateY(10px);
  transition: 100ms;
}

.destination {
  display: none;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.button-container {
  display: none;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
}

.formulaire {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 2rem;
}
input,
textarea,
.submitButton,
label {
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  width: 40%;
}
.submitButton {
  width: 20%;
}
.destinationImage {
  height: 60%;
  width: 60%;
}
.media {
  display: flex;
  gap: 2rem;
}
.media > button {
  width: 5%;
}
#compagny {
  width: 50%;
}
#logo {
  width: 30%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .answers {
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
  }
  .Questions {
    padding-top: 10rem;
  }
  .answers > button {
    width: 350px;
    height: 200px;
  }
  body {
    background-image: url("Ressources/third-tablette.png");
  }
  /* MENU BURGER*/

  #openBtn {
    display: flex;
    align-items: center;
    padding: 0rem 10rem 0rem 0rem;
  }
  .sidenav {
    height: 7rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -250px;
    background-color: #151515;
    padding-top: 0;
    transition: top 0.5s ease;
    display: none;
    justify-content: center;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav.active {
    top: 7rem;
    display: flex;
  }
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
  }
  .burger-icon span {
    width: 35px;
    height: 5px;
    background-color: azure;
  }
  .burger-icon {
    flex-direction: column;
  }
  #logo {
    width: 15%;
    height: auto;
  }
  #compagny{
    width: 30%;
    height: auto;
  }

}
/*RESPONSIVE MOBILE*/

@media screen and (max-width: 769px) {
  .navbar ul li {
    font-size: 1rem;
    align-items: center;
  }
  .startQuiz {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    
  }
  .answers {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }

  .answers > button {
    width: 350px;
    height: 200px;
  }
  body {
    background-image: url("Ressources/third-mobile.png");
  }
  .media > button {
    width: 6%;
  }

  .button-result,
  .try-again,
  .submitButton {
    margin-top: 0rem;
    padding: 0.5rem;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 0.5rem;
    transition: all 0.5s ease;
  }
  .formulaire {
    padding-top: 2rem;
  }
  /* MENU BURGER*/

  #openBtn {
    display: flex;
    align-items: center;
    padding: 0rem 10rem 0rem 3rem;
  }
  .sidenav {
    height: 7rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -250px;
    background-color: #151515;
    padding-top: 0;
    transition: top 0.5s ease;
    display: none;
    justify-content: center;
  }

  #compagny {
    width: 50%;
    height: auto;
  }
  #logo {
    width: 30%;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav.active {
    top: 7rem;
    display: flex;
  }
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
  }
  .burger-icon span {
    width: 35px;
    height: 5px;
    background-color: azure;
  }
  .burger-icon {
    flex-direction: column;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  h3 {
    font-size: 2rem;
  }
  p,
  h4 {
    text-align: center;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .navbar ul li {
    font-size: 10px;
  }
  #openBtn {
    display: flex;
  }
  #search {
    display: none;
  }
  .startQuiz {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
  }
  .answers {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }

  .answers > button {
    width: 350px;
    height: 200px;
  }
  body {
    background-image: url("Ressources/third-mobile.png");
  }
  .Questions {
    padding-top: 2rem;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
  }
  p,
  h4 {
    text-align: center;
    font-size: 1rem;
  }
  .buttonStart {
    padding: 1rem;
    padding-top: 0.5rem;
    justify-content: center;
  }
  /* MENU BURGER*/

  #openBtn {
    display: flex;
    align-items: center;
    padding: 0rem 5rem 0rem 2rem;
  }
  .sidenav {
    height: 7rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -250px;
    background-color: #151515;
    padding-top: 0;
    transition: top 0.5s;
    display: none;
    justify-content: center;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav.active {
    top: 7rem;
    display: flex;
  }
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
  }
  .burger-icon span {
    width: 35px;
    height: 5px;
    background-color: azure;
  }
  .burger-icon {
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  li {
    font-size: 1.5rem;
  }

  body {
    gap: 10rem;
  }
  #compagny {
    width: 50%;
    height: 50%;
  }
  #logo {
    width: 25%;
    height: auto;
  }
}
